#bin/bash
echo "###################################"
echo "                                   "
echo "       START SERVICE               "
echo "                                   "
echo "                                   "
echo "###################################"

bash {{ working_dir }}/LouEtor/BOOT.sh stop  

